<header class="header">
  <p class="header-title">
    <a href="https://github.com/FountainJS/generator-fountain-webapp" target="_blank">
      Fountain Generator
    </a>
  </p>
  <p class="header-date">
    Generated with FountainJS v0.6.0 on Fri Jul 15 2016 15:45:59 GMT+0000 (UTC)
  </p>
</header>
